.BlogPostAdminPanel {
    &__Container {
        display: flex;
        justify-content: space-between;
    }

    &__ControlButtonsContainer {
        display: flex;
        flex-direction: column;

        button {
            margin-bottom: 16px;
        }
    }

    &__VisualizerContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .BlogPostVisualizer {
            &__Container {
                width: 100%;
            }
        }
    }

    &__PostsSidebarContainer {
        width: 180px;
        height: 300px;
        background: $background-alt;
        border-radius: 14px;
        margin-right: 16px;
        overflow: scroll;
        padding: 8px;
        margin-top: 20px;
    }

    &__PostsSidebarPost {
        font-size: 14px;
        margin-bottom: 8px;
        background: $background;
        display: flex;
        flex-direction: column;
        width: 100%;

        span {
            text-align: left;
            overflow: hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
    }
}
