html {
    background-color: $background;
}

input,
textarea {
    background: $background;
    padding: 8px 12px;
    border-style: solid;
    border-radius: 10px;
    color: $foreground;
    border-color: $background-alt;
}

h1,
h2,
h3,
h4,
p,
label,
span {
    color: $foreground;
}

label {
    font-size: 14px;
    font-weight: bold;

    * {
        margin-top: 4px;
        font-weight: normal;
    }
}

button {
    transition: all 0.2s;
    padding: 8px 18px;
    font-weight: 600;
    background: $foreground;
    border: none;
    border-radius: 14px;
    color: $background;
    cursor: pointer;

    * {
        transition: all 0.2s;
    }

    &:hover {
        background: $foreground-alt;
        color: $background-alt;

        * {
            color: $background-alt;
        }
    }
}

a {
    color: $foreground;
    font-size: 20px;

    &.active {
        text-decoration: underline;
    }

    &:hover {
        text-decoration: underline;
    }
}
