$background: #2d2d2d;
$foreground: #ecebe6;

$black: #2d2d2d;
$black-alt: #747369;

$red: #f2777a;
$red-alt: #f2777a;

$green: #99cc99;
$green-alt: #99cc99;

$yellow: #ffcc66;
$yellow-alt:#ffcc66;

$blue: #6699cc;
$blue-alt: #8bb5de;

$magenta: #cc99cc;
$magenta-alt: #cc99cc;

$cyan: #66cccc;
$cyan-alt: #66cccc;

$white: #d3d0c8;
$white-alt: #f2f0ec;

$background-alt: $black-alt;
$foreground-alt: $white-alt;
