.Cv {
    transition: all 0.1s;

    &__Container {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }

    &__ColumnsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 32px;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
        }

        >div {
            width: 100%;

            >div {
                margin-bottom: 32px;
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            h2 {
                text-transform: uppercase;
                font-size: 32px;
                margin-bottom: 16px;
            }

            span {
                font-size: 20px;
            }

            a {
                text-decoration: underline;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    &__PhotoNameContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__Photo {
        border-radius: 100%;
        width: 100%;
        max-width: 300px;
        margin-bottom: 32px;
    }

    &__NameContainer {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            align-items: start;
            width: 450px;
        }

        h1 {
            font-size: 40px;
            letter-spacing: 4px;
            text-align: center;
            margin-bottom: 8px;

            @include desktop {
                text-align: start;
                font-size: 56px;
            }
        }

        span {
            font-weight: normal;
            font-size: 24px;
            margin-bottom: 18px;
        }

        a {
            font-size: 14px;
            font-family: monospace;
        }
    }

    &__Contact {
        a,
        span {
            font-size: 18px;
            margin-bottom: 8px;
        }

        a:nth-of-type(3) {
            font-weight: bold;
        }
    }

    &__GitHubLink {
        font-weight: bold;
    }

    &__Achievements {
        span:nth-of-type(1) {
            a {
                text-decoration: underline;
            }
        }
        span:nth-of-type(2) {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 16px;
        }
        p {
            font-size: 18px;

            @include desktop {
                max-width: 400px;
            }
        }
    }

    &__Technologies {
        div {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;

            span:nth-of-type(1) {
                margin-right: 16px;
                font-weight: bold;
            }
        }

        >span:nth-of-type(1) {
            margin-top: 8px;
            font-weight: bold;

            @include desktop {
                margin-top: 32px;
            }
        }

        >span:nth-of-type(2) {
            margin-top: 16px;

            @include desktop {
                margin-top: 48px;
            }
        }
    }

    &__Career {
        >div {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            h3 {
                font-size: 24px;
            }
            span {
                font-weight: lighter;
                margin-bottom: 8px;
            }
        }
    }

    &__Education {
        >div {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            h3 {
                margin-bottom: 4px;
            }
        }
    }

    &__Languages {
        >div {
            display: flex;
            flex-direction: column;

            @include desktop {
                flex-direction: row;
                justify-content: space-between;
            }
            >div {
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;

                span:nth-of-type(1) {
                    font-weight: bold;
                }

                span:nth-of-type(3) {
                    font-size: 16px;
                }
            }
        }
    }
}
