.Home {
    &__Container {
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 16px;
        }

        img {
            border-radius: 14px;
        }
    }

    &__AboutMeContainer {
        display: flex;
        flex-direction: column-reverse;
        width: max-content;
        align-self: center;
        margin-bottom: 32px;

        @include desktop {
            flex-direction: row;
            margin: 32px auto;
        }
    }

    &__AboutMeInfoContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        @include desktop {
            margin-left: 32px;
        }

        span {
            font-size: 18px;

            a {
                font-size: inherit;
                text-decoration: 2px underline;
                font-weight: bold;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        h1 {
            margin-bottom: 16px;
        }
    }

    &__PostsContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
    }
}
