.Home {
    &__Container {
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 16px;
        }

        img {
            border-radius: 14px;
        }
    }

    &__AboutMeContainer {
        display: flex;
        width: max-content;
        margin: 32px auto;
    }

    &__AboutMeInfoContainer {
        display: flex;
        flex-direction: column;
        margin-left: 32px;

        span {
            font-size: 18px;

            a {
                font-size: inherit;
                text-decoration: 2px underline;
                font-weight: bold;

                &:hover {
                    opacity: 90%;
                }
            }
        }

        h1 {
            margin-bottom: 16px;
        }
    }

    &__PostsContainer {
        display: flex;
        justify-content: space-between;
    }
}
