.Admin {
    &__LoginContainer {
        border: 2px solid $background-alt;
        border-radius: 12px;
        padding: 16px;
        max-width: max-content;

        h1 {
            margin-bottom: 16px;
        }

        form {
            input {
                margin-right: 16px;
            }
        }
    }
}
