$app-width: 900px;

.App {
  &__Container {
      display: flex;
      flex-direction: column;
      padding: 0 16px;
      width: calc(100% - 32px);

      @include desktop {
          width: $app-width;
          margin: auto;
      }
  }
}
