.Blog {
    &__Container {
        display: flex;
        flex-direction: column;
    }

    &__PostsContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .BlogPostCard {
            &__Container {
                margin-bottom: 16px;
            }
        }
    }

    &__PageNumber {
        margin: 0 16px;
        font-weight: bold;
        color: $foreground;
        cursor: default;
    }

    &__PageControlButton {
        padding: 4px 16px;

        &_isDisabled {
            cursor: default;
            opacity: 0.7;
        }
    }
}
